:root{
    margin: 0;
    padding: 0;
    --base-font-size: 15px;    
    font-size: var(--base-font-size);
}
body {
    background-color: bisque;
    font-family: Helvetica, Cambria, Arial;
    min-height: 100vh;
    margin: 0px;
}
header {
    max-height: 12vh;
    background-color: rgb(245, 239, 220);
    color: brown;
    padding: 2vh;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header h1 {
    margin-top: 0;
    font-size: calc(2.5 * (--base-font-size));
}
header ul {
    list-style: none;
    margin-top: -1vh;
    display: flex;
    justify-content: center;
}
header li a {
    color: #944040;
    text-decoration: none;
    margin-right: 40px;
}
header li a:hover {
    color: rgb(206, 116, 64);
}
main {
    padding: 2px;
    padding-top: 2vh;
    min-height: 78vh;
}
section p {
    color: rgb(175, 175, 175);
}
section ol {
    display: grid;
    list-style: none;
}
section ol li {
    background-color: darkgrey;
    padding: 10px;
    margin: 5px 0;
    display: flex;
}
section img {
    border-radius: 10px;
    width: 100%;
}
.home {
    display: flex;
    width: 100%;
    flex-wrap: wrap; 
    justify-content: space-around;
}

/* Modificacion de las imagenes. */
img {
    margin: auto;
    width: 150px;
    height: 200px;
}

/* Centrado de los textos. */
.home .Imgs p {
    margin: 5px;
    text-align: center;
    color: rgb(26, 25, 25);
}

.Imgs {
    background-color: rgb(235, 225, 196);
    padding: 1%;
    margin: 5px;
    border-radius: 5px;
    border: solid 1px rgb(252, 200, 181);
    flex: 0 1 22%; 
    box-sizing: border-box;
    display: flex; 
    flex-direction: column;
    
}
.Imgs button {
    margin-bottom: 4%;
    margin-top: 2%;
    margin-bottom: 1%;
}


/* Seccion institucional. */
.insti {
    background-color: rgb(187, 174, 158);
    height: auto;
    width: auto;
    padding: 200px 0px;
}

.insti h2 {
    text-align: center;
    font-size: 30px;
}

.insti p {
    text-align: center;
    color: black;
    font-size: 18px;
}

/* Seccion contacto. */
.contacto h3 {
    margin: 5px;
    text-align: center;
    font-size: 30px;
    color: rgb(26, 25, 25);
}

.contacto .iconos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    padding: 50px;
}

.contacto img{
    margin: 0;
    width: 100px;
    height: auto;
}

footer {
    text-align: right;
    font-size: calc(0.7 * var(--base-font-size));
}